__build
.vscode
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.opendb
**/.vs/*
**/Debug/*
**/Release/*
CMakeFiles
**/.DS_Store
CMakeCache.txt
cmake_install.cmake
base64.bin
Makefile
CTestTestfile.cmake
*.vcxproj.user

# Other
.#*