[submodule "libs/cppcodec"]
	path = libs/cppcodec
	url = https://github.com/tplgy/cppcodec.git
[submodule "libs/libb64"]
	path = libs/libb64
	url = https://github.com/transmission/libb64.git
[submodule "libs/boost/serialization"]
	path = libs/boost/serialization
	url = https://github.com/boostorg/serialization.git
[submodule "libs/boost/assert"]
	path = libs/boost/assert
	url = https://github.com/boostorg/assert.git
[submodule "libs/boost/config"]
	path = libs/boost/config
	url = https://github.com/boostorg/config.git
[submodule "libs/boost/static_assert"]
	path = libs/boost/static_assert
	url = https://github.com/boostorg/static_assert.git
[submodule "libs/boost/iterator"]
	path = libs/boost/iterator
	url = https://github.com/boostorg/iterator.git
[submodule "libs/boost/mpl"]
	path = libs/boost/mpl
	url = https://github.com/boostorg/mpl.git
[submodule "libs/boost/preprocessor"]
	path = libs/boost/preprocessor
	url = https://github.com/boostorg/preprocessor.git
[submodule "libs/boost/core"]
	path = libs/boost/core
	url = https://github.com/boostorg/core.git
[submodule "libs/boost/type_traits"]
	path = libs/boost/type_traits
	url = https://github.com/boostorg/type_traits.git
[submodule "libs/boost/detail"]
	path = libs/boost/detail
	url = https://github.com/boostorg/detail.git
[submodule "libs/boost/utility"]
	path = libs/boost/utility
	url = https://github.com/boostorg/utility.git
[submodule "libs/chromium/modp_b64"]
	path = libs/chromium/modp_b64
	url = https://chromium.googlesource.com/chromium/src/third_party/modp_b64
[submodule "libs/ReneNyffenegger/cpp-base64"]
	path = libs/ReneNyffenegger/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
[submodule "libs/Turbo-Base64"]
	path = libs/Turbo-Base64
	url = https://github.com/powturbo/Turbo-Base64.git
[submodule "libs/picobase64"]
	path = libs/picobase64
	url = https://github.com/GermanAizek/picobase64
[submodule "libs/IMUtility"]
	path = libs/IMUtility
	url = https://github.com/IMProject/IMUtility.git
[submodule "libs/base64-tl"]
	path = libs/base64-tl
	url = https://github.com/tobiaslocker/base64.git
        branch = master
[submodule "libs/base64pp"]
	path = libs/base64pp
	url = https://github.com/matheusgomes28/base64pp.git
[submodule "libs/base64-aklomp"]
	path = libs/base64-aklomp
	url = https://github.com/aklomp/base64.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
